@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    /*width: 100%;*/
    background-color: ghostwhite;

    font-family: 'Crimson Text', serif;
}